body{
    min-height: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 200px);
    gap: 1em;
    grid-template-areas:
    "box-1 box-2 box-2 box-3"
    "box-1 box-4 box-5 box-5"
    ;
}
@media(max-width: 56em){
    .grid-container{
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: 
    "box-1 box-1 box-2"
    "box-1 box-1 box-3"
    "box-4 box-5 box-5";
    }

}
@media(max-width: 42em){
    .grid-container{
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: 
    "box-1 box-2"
    "box-3 box-2"
    "box-3 box-4"
    "box-5 box-4";
    }

}
button{
    padding: 9px 25px;
    background-color: rgb(30,44,76);
    border: none;
    border-radius: 18px;
    margin-top: 5%;
    color: aliceblue;
    font-weight: 600;
    transition: all 0.5s ease;
}
.box{
    background-color: brown;
}
button:hover{
background-color: rgb(30,44,76,0.60);
}